<div id="<%= dom_id mahasiswa %>">
  <p>
    <strong>Nama:</strong>
    <%= mahasiswa.nama %>
  </p>

  <p>
    <strong>Alamat:</strong>
    <%= mahasiswa.alamat %>
  </p>

  <p>
    <strong>Umur:</strong>
    <%= mahasiswa.umur %>
  </p>

</div>
