<h1>Editing mahasiswa</h1>

<%= render "form", mahasiswa: @mahasiswa %>

<br>

<div>
  <%= link_to "Show this mahasiswa", @mahasiswa %> |
  <%= link_to "Back to mahasiswas", mahasiswas_path %>
</div>
