<div id="<%= dom_id exam %>">
  <p>
    <strong>Nama:</strong>
    <%= exam.nama %>
  </p>

  <p>
    <strong>Alamat:</strong>
    <%= exam.alamat %>
  </p>

  <p>
    <strong>Profesi:</strong>
    <%= exam.profesi %>
  </p>

</div>
